@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
  @layer base {
    @font-face {
      font-family: "IRANYekanWeb";
      src: local("IRANYekanWeb"),
        url("/fonts/IRANYekanWebRegular.woff2") format("woff2");
      font-display: swap;
    }
  }
}
html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.animated-element {
  will-change: transform, opacity;
}
